.img-block {
  position: relative;
  width: 22px;
  height: 22px;

  &::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 15px;

    @include sprite($quotes);
  }
}

//quotes- название картинки
