.content {
  margin-bottom: 50px;

  &__container {
    @include container;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    width: 50%;
    margin-bottom: 50px;
    padding: 0 50px;
    box-sizing: border-box;

    &-title {
      font-size: 25px;
      line-height: 31px;
      font-weight: normal;
      margin-bottom: 40px;
    }

    &-text {
      margin: 0;
      margin-bottom: 40px;
    }
  }

  &__photo {
    width: 50%;
    line-height: 0;
    margin: 0;
    margin-bottom: 50px;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.review {
  margin-bottom: 70px;

  &__container {
    @include container;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__wrapper {
    display: flex;
  }

  &__item {
    width: 33.33%;
    padding: 0 15px 25px;
    box-sizing: border-box;
  }

  &__text {
    position: relative;
    font-size: 17px;
    line-height: 25px;
    margin: 0;
    margin-bottom: 25px;
    padding: 30px;
    padding-left: 50px;
    color: $white;
    background-color: $name-158af4;
    border-radius: 6px;

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 35px;
      width: 78px;
      height: 34px;
      z-index: -1;
      background-color: $name-158af4;
      transform: rotate(-30deg);
    }

    &::after {
      position: absolute;
      content: '';
      //width: 25px;
      //height: 20px;
      top: 25px;
      left: 15px;
      //background-image: url(../img/quotes.png);
      //background-size: cover;
      @include sprite($quotes);
    }
  }

  &__name {
    display: block;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: $name-315479;
  }

  &__info {
    display: block;
    font-size: 14px;
    line-height: 23px;
    padding-left: 10px;
  }
}

.bottom-content {
  padding-top: 65px;
  padding-bottom: 80px;
  text-align: center;
  background-color: $blue;

  &__container {
    @include container;
  }

  &__title {
    line-height: 41px;
    color: $white;
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom: 35px;
    color: $name-d2e7fb;
  }

  &__btn {
    padding: 19px 37px;
  }
}

@media ($mobile-widths-only) {
  .content {
    &__item {
      width: 100%;
      padding: 0 20px;
    }

    &__photo {
      width: 100%;

      &--option {
        order: 2;
      }
    }
  }

  .review {
    &__wrapper {
      display: block;
    }

    &__item {
      width: 100%;
    }
  }
}
